<html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equivmetahttp-equiv="x-ua-compatible"content="IE=7"/>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta name="Keywords" content="轴承，润滑油" />
<meta name="Description" content="四川赢创重工有限公司" />

<title>四川赢创重工有限公司</title>
<LINK rel=stylesheet type=text/css href="cssblue/common.css" tppabs="www.yczg.com/cssblue/common.css">
<SCRIPT type=text/javascript src="js/jquery.tools.min.js" tppabs="www.yczg.com/js/jquery.tools.min.js"></SCRIPT>
<script type="text/javascript" src="js/sdmenu.js" tppabs="www.yczg.com/js/sdmenu.js"></script>
<script type="text/javascript" src="js/imglunbo.js" tppabs="www.yczg.com/js/imglunbo.js" ></script>
<link href="cssblue/index.css" tppabs="www.yczg.com/cssblue/index.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/tabs.js" tppabs="www.yczg.com/js/tabs.js"></script>
<script src="js/ymPrompt.js" tppabs="www.yczg.com/js/ymPrompt.js" type="text/javascript"></script>
<link id="skin" href="cssblue/ymPrompt/skin/qq/ymPrompt.css" tppabs="www.yczg.com/cssblue/ymPrompt/skin/qq/ymPrompt.css" type="text/css" rel="stylesheet">
<script src="js/xjdata.js" tppabs="www.yczg.com/js/xjdata.js" type="text/javascript"></script>
<script type="text/javascript" src="js/update.js" tppabs="www.yczg.com/js/update.js"></script>
<script type="text/javascript" src="js/xlsearch.js" tppabs="www.yczg.com/js/xlsearch.js"></script>

<SCRIPT type=text/javascript src="js/kefu.js" tppabs="www.yczg.com/js/kefu.js"></SCRIPT>
</head>
<body>
<div class="wrapper">
<script src="js/swzy.js" tppabs="www.yczg.com/js/swzy.js" type="text/javascript"></script>
<div class="header">
     <div class="greytop">
     <div class="titlexs">
     <div class="welcome">
     <span  class="welcomet">您好！欢迎来到四川赢创重工有限公司</span>&nbsp;&nbsp;
     </div>  
      </div> 
</div>
	 <div class="bgtop">
	    <div class="logo"><img src="images/logo.png" tppabs="www.yczg.com/images/logo.png" /></div>
		   <div class="bgtopc">  
		      <div class="search">
			 <form method="get" action="www.yczg.com/product.php">
			 <input type="text" name="xl" value="请输入型号" onfocus="value=''" class="input1"/>&nbsp;
			<input type="text" name="brand" value="请输入品牌" onfocus="value=''" class="input2"/>            <input type="submit" class="inputbtn" value=""/>
			</form>
			 </div>
	   </div>
       <div class="dgrx"><img src="images/dgrx.png" tppabs="www.yczg.com/images/dgrx.png" /></div>
		 <div class="bgtop_right">
		    <div class="listtop">
            <div  class="wxsc" >
            <img src="images/yczg.png" tppabs="www.yczg.com/images/yczg.png"/><span>微信商城</span></div><div class="cgtb">
                <!--span><img src="images/img3.jpg" tppabs="www.yczg.com/images/img3.jpg"/><a href="userqrdd.php.htm" tppabs="www.yczg.com/userqrdd.php">我的订单</a></span-->
                <span><img src="images/img4.jpg" tppabs="www.yczg.com/images/img4.jpg"/><a href="userabout.php-id=2.htm" tppabs="www.yczg.com/userabout.php?id=2">联系我们</a></span>
                <span><img src="images/img5.jpg" tppabs="www.yczg.com/images/img5.jpg"/><a href="index.htm" tppabs="www.yczg.com/" onclick="window.external.addFavorite(this.href,this.title);return false;" title='四川赢创重工有限公司' rel="sidebar"">关注公众号</a></span></div>
            </div>
		 </div>
         
  </div>
     <!--<div class="gsgg"><img src="images/gg.gif"/></div>-->
	
</div>
 <div class="nav">
	 <div class="navin">
		 <ul >
		     <li class="actived"><a href="index.php.htm" tppabs="www.yczg.com/index.php">首页</a></li>
             <li ><a href="userabout.php-id=1.htm" tppabs="www.yczg.com/userabout.php?id=1">关于我们</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="product.php.htm" tppabs="www.yczg.com/product.php">现货资源</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="useryb.php.htm" tppabs="www.yczg.com/useryb.php">产品选型</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="usersale.php.htm" tppabs="www.yczg.com/usersale.php">特价信息</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="userdz.php.htm" tppabs="www.yczg.com/userdz.php">型号对照</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="productshow.php.htm" tppabs="www.yczg.com/productshow.php">产品展示</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="userjob.php.htm" tppabs="www.yczg.com/userjob.php">企业招聘</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="userpic.php-type=2.htm" tppabs="www.yczg.com/userpic.php?type=2">企业相册</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="userhyxw.php.htm" tppabs="www.yczg.com/userhyxw.php">行业新闻</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="userzczs.php.htm" tppabs="www.yczg.com/userzczs.php">轴承知识</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
             <li ><a href="usergsdt.php.htm" tppabs="www.yczg.com/usergsdt.php">企业动态</a><img src="images/nav2.png" tppabs="www.yczg.com/images/nav2.png"/></li>
         </ul>
	 </div>
	 </div>
<div class="qc"></div><div class="center">
<div class="centertop">
	<div class="leftMain">
	<div class="fistMenu">商品服务导航</div>
	<div class="adminMenuAccod">
	<div  id="my_menu" class="sdmenu"> 
	      <div class="menuLst"> <span>分类</span>
            <ul>
			<!--script type="text/javascript" src="jsDatafile/fl.js" tppabs="www.yczg.com/jsDatafile/fl.js"></script>-->
                <li ><a href='xxx'>轴承1</a></li>
                <li ><a href='xxx'>轴承2</a></li>
                <li ><a href='xxx'>轴承3</a></li>
                <li ><a href='xxx'>轴承4</a></li>
                <li ><a href='xxx'>轴承5</a></li>
                <li ><a href='xxx'>轴承6</a></li>
                <li ><a href='xxx'>轴承7</a></li>
                <li ><a href='xxx'>轴承8</a></li>
                <li ><a href='xxx'>轴承9</a></li>
                <li ><a href='xxx'>轴承10</a></li>
                <li ><a href='xxx'>油品分类1</a></li>
                <li ><a href='xxx'>油品分类2</a></li>
                <li ><a href='xxx'>油品分类3</a></li>
                <li ><a href='xxx'>油品分类4</a></li>
                <li ><a href='xxx'>油品分类5</a></li>
                <li ><a href='xxx'>油品分类6</a></li>
                <li ><a href='xxx'>油品分类7</a></li>
                <li ><a href='xxx'>油品分类8</a></li>
                <li ><a href='xxx'>油品分类9</a></li>
                <li ><a href='xxx'>油品分类10</a></li>

            </ul>
          </div>
		  <div class="menuLst"> <span>推荐品牌</span> <!--推荐品牌-->
            <ul>
			<!--script type="text/javascript" src="jsDatafile/tjbrand.js" tppabs="www.yczg.com/jsDatafile/tjbrand.js"></script>-->
                <li ><a href='xxxxx'>xxx轴承</a></li>
                <li ><a href='xxxxx'>xxx轴承</a></li>
                <li ><a href='xxxxx'>xxx油</a></li>
                <li ><a href='xxxxx'>xxx油</a></li>
                <li ><a href='xxxxx'>xxx油</a></li>
				
            </ul>
          </div>
	</div>
	</div>
	 <!--<div class="leftbottom">
	      <h2>特别推荐</h2>
		  <script type="text/javascript" src="jsDatafile/tbtj.js"></script>
	 </div>-->
	 </div>	 <div class="minCenter">
	 <div class="container" id="idTransformView2">
  <ul class="slider slider2" id="idSlider2">
               <li><a><img src="upload/20150306133215.jpg" tppabs="www.yczg.com/upload/20150306133215.jpg"/></a></li>	
	             <li><a><img src="upload/20150306133254.jpg" tppabs="www.yczg.com/upload/20150306133254.jpg"/></a></li>	
	             <li><a><img src="upload/20150306133328.jpg" tppabs="www.yczg.com/upload/20150306133328.jpg"/></a></li>	
	             <li><a><img src="upload/20150306133400.jpg" tppabs="www.yczg.com/upload/20150306133400.jpg"/></a></li>	
	   </ul>
  <ul class="num" id="idNum2">
    <li>1</li>
    <li>2</li>
    <li>3</li>
	<li>4</li>
  </ul>
</div>
	 <script type="text/javascript" src="js/imgScrollmin.js" tppabs="www.yczg.com/js/imgScrollmin.js"></script>
	</div>
	<div class="leftCenter">
     <div class="ggs"><span>公告</span><a href="userabout.php-id=5.htm" tppabs="www.yczg.com/userabout.php?id=5" class="qygga">更多></a></div>
	     <div class="qygg">
         
		    <ul>
                <li><a href="xxxx">公告1xxxx</a></li>
                <li><a href="xxxx">公告2xxxx</a></li>
                <li><a href="xxxx">公告3xxxx</a></li>
			</ul>
            
		 </div>

		<div class="cpxx">
       <ul>
         
         <li>地址：xxxxxxxxxxxxxxxxxxxxxxx</li></br>
         <li>电话：xxxxxxxxxxxxxxxxxxxxxxx</li></br>
         <li>传真：xxxxxxxxxxxxxxxxxxxxxxx </li></br>
         <li>手机：xxxxxxxxxxxxxxxxxxxxxxx</li></br>
         <li>Q  &nbsp;Q：xxxxxxxxxxxxxxxxxxxxxxx</li></br>
         <li>邮箱：xxxxxxxxxxxxxxxxxxxxxxx</li></br>
         </ul>
		 </div>
	</div>
    
<div class="centertopr">
<div class="centertopr1">
<div class="jjtitle"><span class="gywm">关于我们</span><span class="gsxwgd"><a href="userabout.php-id=1.htm" tppabs="www.yczg.com/userabout.php?id=1">>>更多</a></span></div>
<div class="jjcontent">
    <p>四川赢创重工有限公司，位于美丽的成都，xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    <p>赢创公司代理的世界知名轴承品牌和油品有xxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
</div>
</div>

<div class="centertopr2">
<div class="jjtitle"><span class="gywm">新闻中心</span><span class="gsxwgd"><a href="userhyxw.php.htm" tppabs="www.yczg.com/userhyxw.php">>>更多</a></span></div>
<div class="jjcontent">
    <ul>
        <li><a href="xxx"><p>新闻1xxxxxxx</p></a></li>
        <li><a href="xxx"><p>新闻2xxxxxxx</p></a></li>
        <li><a href="xxx"><p>新闻3xxxxxxx</p></a></li>
        <li><a href="xxx"><p>新闻4xxxxxxx</p></a></li>
    </ul>
</div>
</div>
</div> 

<div class="centerimg">
<img src="images/centerimg.jpg" tppabs="www.yczg.com/images/centerimg.jpg">
</div>    
</div>

<div class="btcenter">
	    <div class="Menubox">
		   <ul>
		       <li>热卖产品</li>
			</ul>
		</div>
		<div class="Contentbox">
   <div id="con_two_1" >
       <div class="con1">
         <!--script type="text/javascript" src="jsDatafile/rmfl.js" tppabs="www.yczg.com/jsDatafile/rmfl.js"></script>-->
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
           <div class='con1_1'>
               <div class='imgcon'>
                   <img src='upload/20150305141729.jpg'/><a href='xxxx'>轴承1</a></div>
               <div class='xllist'>
                   <ul>
                       <li>
                           <span><a href='xxxx'>xxx型号1</a></span>
                           <div class='canshu'>
                               <a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号2</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                       <li>
                           <span><a href='xxxx'>xxx型号3</a></span>
                           <div class='canshu'><a href='javascript:void(0);' onclick=location.href='userlogin.php'>详情</a>
                           </div>
                       </li>
                   </ul><a href='xxxx'><input type='button' /></a>
               </div>
           </div>
      
  </div>  
	</div>
</div>
	</div>
    
<div id="demowidth">
<div id="demo">
<div id="indemo">
<div id="demo1">
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20160629153005.jpg' target='_blank'><img height='135' src='upload/20160629153005.jpg' width='183' border=0></a>
    <a href='upload/20150306115549.jpg' target='_blank'><img height='135' src='upload/20150306115549.jpg' width='183' border=0></a>
</div>
<div id="demo2"></div>
</div>
</div>
</div>
<script type="text/javascript" src="js/imgScroll.js" tppabs="www.yczg.com/js/imgScroll.js"></script>
<div class="footer">
    <div class="footerTop">
	   <div class="list-a"><div class="mod-wrap">
	   <div class="wraptop"><div class="wraptopLeft"><h4>品质保证</h4><span>假一赔二</span></div><img src="images/footer1.png" tppabs="www.yczg.com/images/footer1.png"/></div>
	   <div class="wraptop"><div class="wraptopLeft"><h4>服务保证</h4><span>30天内退换货</span></div><img src="images/footer2.png" tppabs="www.yczg.com/images/footer2.png"/></div>
	   <div class="wraptop"><div class="wraptopLeft"><h4>配送保证</h4><span>满额免运费</span></div><img src="images/footer3.png" tppabs="www.yczg.com/images/footer3.png"/></div>
	   </div></div>
	   <div class="list-a"><img src="images/img1.png" tppabs="www.yczg.com/images/img1.png" style="padding-left:30px;"/>
           <ul>
               <li><a href="userabout.php-id=1.htm" tppabs="www.yczg.com/userabout.php?id=1">公司简介</a></li>
               <li><a href="userabout.php-id=2.htm" tppabs="www.yczg.com/userabout.php?id=2">联系方式</a></li>
           </ul>
       </div>
	   <div class="list-a"><img src="images/img2.png" tppabs="www.yczg.com/images/img2.png" style="padding-left:30px;"/>
           <ul>
               <li><a href="userabout.php-id=17.htm" tppabs="www.yczg.com/userabout.php?id=17">购物指南</a></li>
           </ul>
       </div>
	   <div class="list-a"><img src="images/img3.png" tppabs="www.yczg.com/images/img3.png" style="padding-left:30px;"/>
           <ul>
               <li><a href="userabout.php-id=16.htm" tppabs="www.yczg.com/userabout.php?id=16">关于配送</a></li>
               <li><a href="userabout.php-id=19.htm" tppabs="www.yczg.com/userabout.php?id=19">支付方式</a></li>
               <li><a href="userabout.php-id=25.htm" tppabs="www.yczg.com/userabout.php?id=25">验货与签收</a></li></ul></div>
	   <div class="list-a"><img src="images/img4.png" tppabs="www.yczg.com/images/img4.png" style="padding-left:30px;"/>
           <ul><li><a href="userabout.php-id=20.htm" tppabs="www.yczg.com/userabout.php?id=20">发票制度</a></li>
               <li><a href="userabout.php-id=21.htm" tppabs="www.yczg.com/userabout.php?id=21">如何退款</a></li>
           </ul>
       </div>
	   <div class="list-a"><img src="images/img5.png" tppabs="www.yczg.com/images/img5.png" style="padding-left:30px;"/>
           <ul>
               <li><a href="userabout.php-id=15.htm" tppabs="www.yczg.com/userabout.php?id=15">退换货政策</a></li>
               <li><a href="userabout.php-id=23.htm" tppabs="www.yczg.com/userabout.php?id=23">常见问题</a></li>
           </ul>
       </div>
	   <div style="float:right;"><a href="javascript:scroll(0,0)"><img src="images/gototop.jpg" tppabs="www.yczg.com/images/gototop.jpg" /></a></div>
	</div>

</div><div class="qc"></div>
<div class="qc"></div>






</div>
<div class="footer_bottom">
  <div class="xkword">
  <span>Copyright (C) 2014 All Rights Reserved. 四川赢创重工有限公司 版权所有 备案:xxxxxxxxxxx<br />

服务时间：周一至周日 08:30 — 20:00  全国订购及服务热线：xxxxxxxxxxx
    <br />
 联系地址：xxxxxxxxxxx <a href="javascript:if(confirm('即将访问：www.taotaolinux.com'))window.location='www.taotaolinux.com'" tppabs="" target="_blank">技术支持：张涛</a><br />
  </span>
  </div>



</div>

</div>
</body>
</html>
